<?xml version="1.0"?>
<launch>
  <arg name="prefix" default="setup1/robot1/"/>
  <arg name="robot_ip" default="192.168.1.100"/>
  <arg name="dt_pub_pose" default="0.01" doc="dt of threadPubRobPose"/>
  <arg name="rate_rtde_hz" default="50"/>
  <arg name="root_name" default="base"/>
  <arg name="tip_name" default="rpwc_EE"/>
  <arg name="x_pos_EE" default="0"/>
  <arg name="y_pos_EE" default="0"/>
  <arg name="z_pos_EE" default="0"/>
  <arg name="roll_EE" default="0"/>
  <arg name="pitch_EE" default="0"/>
  <arg name="yaw_EE" default="0"/>
  <arg name="roll_Last_Link" default="0"/>
  <arg name="pitch_Last_Link" default="0"/>
  <arg name="yaw_Last_Link" default="-1.570796327"/>
  <arg name ="mass_EE" default="0.1" />
  <arg name ="cog_x_EE" default="0.0" /> <!--m wrt rpwc_last_robot_link-->
  <arg name ="cog_y_EE" default="0.0" /> <!--m wrt rpwc_last_robot_link-->
  <arg name ="cog_z_EE" default="0.1" /> <!--m wrt rpwc_last_robot_link-->
  <arg name="controller_config_file" default="$(find ur_robot_driver)/config/ur20_controllers.yaml"/>
  <arg name="robot_description_file" default="$(find ur_description)/launch/load_ur20.launch"/>
  <arg name="kinematics_config" default="$(find ur_calibration)/param_calib/ur20_calibration.yaml"/>
  <arg name="urscript_file" default="/usr/local/share/ur_client_library/resources/external_control.urscript"/>
  <arg name="collision_config" default="$(find ur_description)/config/ur20/collision_parameters.yaml" doc="Path to the collision objects config file."/>
  <arg name="auto_recover_protective_stop" default="false" doc="Automatically unlock and recover from protective stops"/>
  <arg name="recovery_timeout_s" default="3.0" doc="Seconds to wait for the robot program to start after each recovery attempt"/>
  <arg name="recovery_retries" default="3" doc="Number of program send retries before shutting down"/>

  <group ns="$(arg prefix)">
    <param name="robot_ip" value="$(arg robot_ip)"/>
    <param name="dt_pub_pose" value="$(arg dt_pub_pose)"/>
    <param name="root_name" value="$(arg prefix)$(arg root_name)"/>
    <param name="tip_name" value="$(arg prefix)$(arg tip_name)"/>
    <param name="rate_rtde_hz" value="$(arg rate_rtde_hz)"/>
    <param name="auto_recover_protective_stop" value="$(arg auto_recover_protective_stop)"/>
    <param name="recovery_timeout_s" value="$(arg recovery_timeout_s)"/>
    <param name="recovery_retries" value="$(arg recovery_retries)"/>
    <param name="urscript_file" value="$(arg urscript_file)"/>
    <param name="x_pos_EE" value="$(arg x_pos_EE)"/>
    <param name="y_pos_EE" value="$(arg y_pos_EE)"/>
    <param name="z_pos_EE" value="$(arg z_pos_EE)"/>
    <param name="roll_EE" value="$(arg roll_EE)"/>
    <param name="pitch_EE" value="$(arg pitch_EE)"/>
    <param name="yaw_EE" value="$(arg yaw_EE)"/>
    <param name="roll_Last_Link" value="$(arg roll_Last_Link)"/>
    <param name="pitch_Last_Link" value="$(arg pitch_Last_Link)"/>
    <param name="yaw_Last_Link" value="$(arg yaw_Last_Link)"/>
    <param name="mass" value="$(arg mass_EE)" /> <!--kg-->
    <rosparam param="cog" subst_value="true"> [$(arg cog_x_EE),$(arg cog_y_EE),$(arg cog_z_EE)]</rosparam>    <!--m wrt rpwc_last_robot_link-->
    <param name="max_speed_linear" value="2.0"/> <!-- 4.0 m/s -->
    <param name="max_acceleration_linear" value="1"/> <!-- 2.5 m/s^2 -->
    <param name="max_speed_joint" value="1"/> <!-- 2.0944 rad/s -->
    <param name="max_acceleration_joint" value="8"/> <!-- 13.9626 rad/s^2 -->

    <!-- Load joints names from controller config -->
    <rosparam subst_value="true" file="$(arg controller_config_file)" command="load"/>

    <!-- robot model -->
    <include file="$(arg robot_description_file)">
      <arg name="kinematics_params" value="$(arg kinematics_config)"/>
      <arg name="prefix" value="$(arg prefix)"/>
      <arg name="x_pos_EE" value="$(arg x_pos_EE)"/>
      <arg name="y_pos_EE" value="$(arg y_pos_EE)"/>
      <arg name="z_pos_EE" value="$(arg z_pos_EE)"/>
      <arg name="roll_EE" value="$(arg roll_EE)"/>
      <arg name="pitch_EE" value="$(arg pitch_EE)"/>
      <arg name="yaw_EE" value="$(arg yaw_EE)"/>
      <arg name="roll_Last_Link" value="$(arg roll_Last_Link)"/>
      <arg name="pitch_Last_Link" value="$(arg pitch_Last_Link)"/>
      <arg name="yaw_Last_Link" value="$(arg yaw_Last_Link)"/>
    </include>
    <rosparam command="load" file="$(arg kinematics_config)"/>
    <rosparam command="load" file="$(arg collision_config)"/>

    <!-- Convert joint states to /tf tranforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="rpwc_ur_bridge_native" pkg="ur_robot_driver" type="rpwc_ur_bridge_native" required="true" output="screen"/>
  </group>
</launch>