<?xml version="1.0" encoding="utf-8"?>
<robot name="ur10e_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:arg name="prefix" default=""/>
    <!-- GROUPS -->
    <group name="ur10e_arm">
        <chain base_link="$(arg prefix)base_link" tip_link="$(arg prefix)rpwc_EE"/>
    </group>

    <!-- GROUP STATES -->
    <group_state name="home" group="ur10e_arm">
        <joint name="$(arg prefix)elbow_joint" value="0"/>
        <joint name="$(arg prefix)shoulder_lift_joint" value="0"/>
        <joint name="$(arg prefix)shoulder_pan_joint" value="0"/>
        <joint name="$(arg prefix)wrist_1_joint" value="0"/>
        <joint name="$(arg prefix)wrist_2_joint" value="0"/>
        <joint name="$(arg prefix)wrist_3_joint" value="0"/>
    </group_state>

    <!-- VIRTUAL JOINT -->
    <virtual_joint name="$(arg prefix)virtual_joint" type="fixed" parent_frame="$(arg prefix)world" child_link="$(arg prefix)base_link"/>

    <!-- DISABLE COLLISIONS -->
    <disable_collisions link1="$(arg prefix)base_link_inertia" link2="$(arg prefix)shoulder_link" reason="Adjacent"/>
    <disable_collisions link1="$(arg prefix)base_link_inertia" link2="$(arg prefix)upper_arm_link" reason="Never"/>
    <disable_collisions link1="$(arg prefix)base_link_inertia" link2="$(arg prefix)wrist_1_link" reason="Never"/>
    <disable_collisions link1="$(arg prefix)forearm_link" link2="$(arg prefix)upper_arm_link" reason="Adjacent"/>
    <disable_collisions link1="$(arg prefix)forearm_link" link2="$(arg prefix)wrist_1_link" reason="Adjacent"/>
    <disable_collisions link1="$(arg prefix)shoulder_link" link2="$(arg prefix)upper_arm_link" reason="Adjacent"/>
    <disable_collisions link1="$(arg prefix)shoulder_link" link2="$(arg prefix)wrist_1_link" reason="Never"/>
    <disable_collisions link1="$(arg prefix)wrist_1_link" link2="$(arg prefix)wrist_2_link" reason="Adjacent"/>
    <disable_collisions link1="$(arg prefix)wrist_1_link" link2="$(arg prefix)wrist_3_link" reason="Never"/>
    <disable_collisions link1="$(arg prefix)wrist_2_link" link2="$(arg prefix)wrist_3_link" reason="Adjacent"/>

</robot>
